---

<img src="logo/anchormen-logo.svg" width="500">

---

#  BASICS Lab: Python Basics

In this lab session we will explain basic Python syntax and data types. After you have walked through this notebook there is another notebook with exercises which you can use to check the concepts learned.

## Goals

After this lab, you will have learned:

- Python base data types
- How to use classes, including methods
- How Python handles functions
- The principle of method chaining in Python
- Know where to find more information

## Recap

In previous lab sessions the following topics have been discussed:

- Python distribution: conda (miniconda, anaconda)
- Installing packages using conda or pip
- Setting up virtual environments
- Working in Jupyter notebooks

# Getting help

* `type(some_variable)` will tell you the type of a variable
* `help(some_variable)` will give you help on the type of value of `some_variable`
* Python has good documentation: https://docs.python.org/3/
* Python has a huge standard library.
https://docs.python.org/3/library/

# A1: Data Types

Python has a number of data collection types that recur constantly.
The basic Data Types used in python are: 

---

## Numbers

###  `int`, integer

Integers are positive or negative whole numbers between 0

    5
    -10
    0
    int(3)

### Floats

Floating points are how you represent non-integer numbers. Floating point numbers also support representing (negative) infinity and 'not a number' values.

In [1]:
0.0, -9.1, float('0.3'), float('-Inf'), float('NaN')

(0.0, -9.1, 0.3, -inf, nan)

## Strings

Contiguous set of characters represented in quotation marks. You can use `'single quotes'` or `"double quotes"`; they mean the same thing. With the slice operator ([] and [:]) subsets of strings can be taken, where index 0 corresponds to the first character and index -1 to the last charector.

In [2]:
string_one = 'Hello team'
string_one

'Hello team'

In [3]:
string_one[6:]

'team'

In [4]:
string_one + ' Anchormen'

'Hello team Anchormen'

In [5]:
string_one * 3

'Hello teamHello teamHello team'

- **Booleans:**

In [6]:
True

True

In [7]:
False

False

---

## A2: Collection types

| type   | delimiters | example |
| -----  | ----- | ----- |
| Lists  | square brackets | `[1, 2, 3]` |
| Dicts  | braces and colons | `{'a': 1, 'b': 2, 'c': 3}` |
| Tuples | parentheses (often optional) | `('Ruth', 53, 'Shropshire')` |
| Sets   | braces | `{'Peter', 'James', 'Mary'}` |

## Lists
A list is a collection of similar elements. The elements in a list can be of different data types.

In [8]:
[1, 2, 3]

[1, 2, 3]

In [9]:
# a list can contain differt variable types
list_one = ['hello', 1, ['a', 2]]
list_one

['hello', 1, ['a', 2]]

In [10]:
# You can change the elements in a list
list_one[0] = 'New'
list_one

['New', 1, ['a', 2]]

In [11]:
nested_list = [1, 2, 3, [8, 9, ['hello']]]

In [12]:
nested_list[3]

[8, 9, ['hello']]

In [13]:
nested_list[3][2]

['hello']

### Dictionaries

A `dict` is a collection of key-value mappings.

A `dict` maps *keys* to corresponding *values*. Anytime you need to make it possible to look up information, think of dicts. Dictionary keys are usually numbers or strings, dictionary values can be any Python object. Note that dictionaries have no order among elements.

In [14]:
dict_one = {'key1': 'value_1', 'key2': 2, 'key3': 3}
dict_one

{'key1': 'value_1', 'key2': 2, 'key3': 3}

In [15]:
# to access a value
dict_one['key1']

'value_1'

In [16]:
# to assign a value 
dict_one['key4'] = 8
dict_one

{'key1': 'value_1', 'key2': 2, 'key3': 3, 'key4': 8}

In [17]:
# note there is no concept of order among the elements
dict_two = {'name': 'Bas', 'age': 12, 'heigth': 174}
dict_two

{'name': 'Bas', 'age': 12, 'heigth': 174}

In [18]:
print(dict_one.keys())
print(dict_one.values())

dict_keys(['key1', 'key2', 'key3', 'key4'])
dict_values(['value_1', 2, 3, 8])

---

### Tuples

    ('Ruth', 55, 'Shropshire')

A tuple is a
* fixed-length,
* immutable,
* collection of values with different meanings

A tuple is like a row in a data table, a list is like a column. (For C programmers: a tuple is like a data struct.)

You can access a tuple's fields by their zero-based index:

In [19]:
('Ruth', 55, 'Shropshire')[2]

'Shropshire'

Tuples can not be changed:

In [20]:
tuple_one = (99, 5.4)
tuple_one[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Named tuples

Named tuple are superior to tuples in every way. The only reason not to use them is when tuple unpacking is good enough; in all other situations, use namedtuples over tuples.

In [21]:
from collections import namedtuple
Person = namedtuple('Person', 'name age place')  # Namedtuple is kind enough to split on spaces
ruth = Person(name='Ruth', age=55, place='Shropshire')

print(ruth.age)
ruth

55

Person(name='Ruth', age=55, place='Shropshire')

### Tuple unpacking

When you receive a tuple, you often want to work with the individual elements, rather than the whole tuple. *Tuple unpacking* lets you assign a tuple's elemetns straight into seperate variables.

(This example also show that parentheses around tuples are optional.)

In [22]:
zero, one = 0, 1
print(zero)
print(one)
zero, one

0
1

(0, 1)

One place where tuple unpacking is very common is when you iterate over a sequence of tuples. For example, the built-in `enumerate` function takes a list of items, and returns a sequence of (number, item) tuples. Compare and contrast:

In [23]:
for numbered_item in enumerate(['Jan', 'Pier', 'Tjoris']):
    print('{}: {}'.format(numbered_item[0], numbered_item[1]))
    
print('--')
        
for number, name in enumerate(['Jan', 'Pier', 'Tjoris']):
    print('{}: {}'.format(number, name))

0: Jan
1: Pier
2: Tjoris
--
0: Jan
1: Pier
2: Tjoris

### Sets
    {'peter', 'john', 'james'}
    
A set is a collection of unique elements.

In [24]:
{'peter', 'john', 'james'}

{'james', 'john', 'peter'}

In [25]:
{'peter', 'john', 'james', 'peter', 'john', 'john', 'james',}

{'james', 'john', 'peter'}

### Mutable vs Immutable types

Data which can be modified is called mutable, data which can not be modified is called immutable. In Python strings and numbers are immutable. This means that when we want to change the value of a variable referring to a string or number, we have to replace the old value with a completely new value. As we saw tuples are also immutable. 

Lists are mutable, meaning that we can modify them after they have been created. Note that if you would modify a value in a list, and two variables refer to this list it will change for both variables.

- **Classes**: Sometimes the entity you're thinking of has several kinds of information, like in a tuple; but you also want to collect behaviour in the same place. At this point, you want to think of classes that represent data. Classes should rarely perform actions, barring self-modification. We will discuss classes in more detail later.


      class Person:
          def __init__(self, name, age, place):
              self.name = name
              self.age = age
              self.place = place
              
          def is_adult(self):
              return 18 <= self.age

### Data Type Conversion
To perform conversions between data types, you can use the type name as a function:

In [26]:
print(type(''))

str(True)

<class 'str'>

'True'

In [27]:
int('100')

100

---

# B: Python Basic Operators

## Comparison Operators: 
- Compare the values on either side of the operator and decide the relation among them.

In [28]:
20 > 30

False

In [29]:
10 < 20

True

In [30]:
11 >= 11

True

In [31]:
10 <= 14

True

In [32]:
22 == 222

False

In [33]:
'hello' == 'hello'

True

### Logic Operators:
- **and** --> if both are true, then condition becomes true 
- **or**  --> if any of the operants are true, condition becomes true 
- **not** --> to reverse the logical state of its operand

In [34]:
(11 > 22) and (22 < 33)

False

In [35]:
(11 > 22) or (22 < 33)

True

In [36]:
(3 == 2) or (5 == 7) or (8 == 8)

True

In [37]:
not (5 == 5) and ( 4 < 5)

False

### Membership Operators 
- Test for membership in a sequence, such as strings, lists, or tuples. 
- **in** --> evaluates true if it find a variable in the sequence
- **not in** --> evaluates true if it does not find a variable in sequence

In [38]:
'cookie' in 'The monster ate the cookie'

True

In [39]:
'clouds' not in 'The sun is shining'

True

### Identity Operators
- Compare the memory locations of two objects 
- **is** --> evaluates true if the variables point to the same object 
- **is not** --> evaluates true if the variables do not point to the same object

In [40]:
x = 10 
y = 10
x is y

True

In [41]:
g = 12 
h = 12
g is not h

False

# C: Decision Making

### if, elif, else Statements

In [42]:
if 4 < 5: 
    print ('Hello You!')

Hello You!

In [43]:
if 4 > 5:
    print ('Hello You')
else: 
    print ('Hello Me')

Hello Me

In [44]:
if 11 == 22: 
    print ('Yayys')
elif 500 == 500: 
    print ('Yeeyss')
else: 
    print('Yuusy')

Yeeyss

In [45]:
# one-line if statements
number = 200 
if (number == 200) : print ('The number equals 200')

The number equals 200

# D: Loops

### for Loops

In [46]:
seq = ['hi', 3, 'no', 8, 'noppa']
for item in seq: 
    print (item + item)

hihi
6
nono
16
noppanoppa

### while Loops

In [47]:
count = 10 
while (count > 0):
    print ('We have a:', count)
    count -= 1
print ("Good bye!")

We have a: 10
We have a: 9
We have a: 8
We have a: 7
We have a: 6
We have a: 5
We have a: 4
We have a: 3
We have a: 2
We have a: 1
Good bye!

### Nested Loops

In [48]:
symbol = '1'
number = 6 
for x in reversed(range(number)):
    s = "" 
    for y in range(x+1): 
        s += symbol 
    print (s)

111111
11111
1111
111
11
1

# E: Functions

In [49]:
# A function with no parameters, and its usage:
import random
def d6():
    return random.randint(1, 6)

result = d6()
print("You rolled a {}.".format(result))

You rolled a 4.

In [50]:
# A function with two parameters, and its usage:
def add(a, b):
    return a + b


# one parameter
def yesorno(answer):
    if answer[0] in ('y', 'Y', 'j', 'J'):
        return True
    else:
        return False


userinput = input("Is it sunny today? ")
if yesorno(userinput):
    print("You think it is sunny today.")
else:
    print("You think it's gloomy today.")

Is it sunny today? no
You think it's gloomy today.

In [51]:
# A function is a first-class object: you can pass it around just like any other value.
def d6():
    return random.randint(1, 6)


def d20():
    return random.randint(1, 20)


def n_dice(n, dicetype):
    """ roll n identical dice, and add the rolls together """
    return sum(dicetype() for i in range(n))


n_dice(2, d6)
n_dice(1, d20)

13

You could of course just make one die-rolling function with the number of sides as a parameter.
This is just an example of how to pass a function as a parameter to another function.

Note what the **return statement** role is: 
- It evaluates the expression which results in a value 
- That value is produced as the result of a function call

### Function Design Recipe

When defining and testing the function it can be helpful to follow the steps of the *Function Design Recipe*. 
The recipe consists of five parts: 

    1) some test examples (some examples of use, you want some example calls, you also pick a name for the function, often a verb that declaires shortly what the function does.) 
    2) A type contract (this answers questions such as: What are the parameter types? What type of value is returned) 
    3) Description óf the function (docstring)
    4) Body 
    5) Test (with the examples) 

Example of *Function Design Recipe*:

In [52]:
def area(base, height):                                             # Header (function name and parameter)
    '''(number, number) -> number                                   # Type contract 
    Return the area of a triangle with the dimensions base          # Description 
    and height. 
    
    >>>area(10, 5)                                                  # Examples of use of the function 
    25.0
    >>>area(2.5, 3)
    3.75
    '''
    
    return base * height / 2                                        # Body

# F: Classes & Methods

### Classes

Python classes work much like classes in other OO languages. Methods are functions on objects, like in other OO languages.

Many things are objects:

    # a string is an object, join is a method on it, and range() produces an iterator object
    ",".join(range(10))


### Method Chaining

An expression is replaced by the value it evaluates to -- in the case of a function call, this means it is replaced by the value it returns. This means that if a method ends with `return self` or `return some_instance`, you can immediately call another method of that class on the result.


     class Number:
         def __init__(self, n):
             self.n = n
             
         def add(self, n):
             return Number(self.n + n)
             
         def multiply(self, n):
             self.n = self.n * n
             return self
             
     x = Number(0)
     x.add(1).multiply(10).add(2)
     x.n

# G: Other Concepts

### Printing

In [53]:
x = 'hello!'
print(x)

hello!

In [54]:
name = 'Linda'
age = 35
print('My name is: {}, and my age is: {}'.format(name, age))

My name is: Linda, and my age is: 35

In [55]:
# new from python 3.6, f-strings
print(f'My name is: {name}, and my age is: {age}')

My name is: Linda, and my age is: 35

### Assigning Variables

- **Variable Assignments**: Note that variable assignments can not start with number or a special character. Good practice is to use underscores to seperate  words or *camel-case*.

```python 
ticket_price = 10 
ticketPriceExposition = 15```

- **Multiple Assignment**: In Pyhton you can assign a single value to several variables. You can also simultaneously assign multiple objects to multiple variables.

In [56]:
a = d = f = 3
print (f, d, a)

3 3 3

In [57]:
name, b, f = 'lisa', 4, 8 
print (b, f, name)

4 8 lisa

### List Comprehension
A concise way to create a list.

In [58]:
# no list comprehension syntax 
x = list(range(5))
out = [] 
for item in x: 
    out.append(item**2)
print (out)

[0, 1, 4, 9, 16]

In [59]:
# list comprehension syntax used
[item**2 for item in x]

[0, 1, 4, 9, 16]

### Lambda Expressions
A lambda function takes any number of arguments and returns the value of a single expression. lambda functions can not contain commands, and they can not contain more than one expression.

In [60]:
# example
def f(x): 
    return x*2 
f(3)

# with lambda expression, which can be called through the varable g
g = lambda x: x*2 
g(3)

# lambda expression, without assigning it to variable
(lambda x: x*2)(3)

6

## Summary & Resources

In this lab session we discussed the basics of Python. Understanding the basics of Python is necessary for upcoming lab-sessions and the use of additional Python libraries. The resources below can be used as additional resources. Head over tot the lab called 'Python-Exercises' and complete the exercises. 

* Python cheat sheet: https://www.cheatography.com/davechild/cheat-sheets/python/
* Python cheat sheet (like the Pandas cheat sheet):
    http://www.webpages.uidaho.edu/~stevel/504/Python%20Notes.pdf
    also available in this directory.

In [61]:
# To check all the built in functions of python type: 
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [62]:
# More information on a built in function can be required by typing: 
# help(builtinfunction)
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.